/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.abs{position:absolute;}
.abs-content{position:absolute;left:0;top:0;width:100%;height:100%;}
.abs-f{position:fixed;}
.abs-r{position:relative;}
.flex-center{display:flex;align-items:center;justify-content:center;}
.flex-center-start{display:flex;align-items:center;justify-content:flex-start;}
.flex-v{display:flex;flex-direction:column;}
/* layer: default */
.fixed{position:fixed;}
.relative{position:relative;}
.sticky{position:sticky;}
.bottom-0px{bottom:0;}
.right-0{right:0;}
.z-100{z-index:100;}
.z-2{z-index:2;}
.z-3{z-index:3;}
.m-10px{margin:10px;}
.mr-15px{margin-right:15px;}
.mt-5px{margin-top:5px;}
.hidden{display:none;}
.h-20px{height:20px;}
.h-38px{height:38px;}
.h-70px{height:70px;}
.h-full{height:100%;}
.w-100\%{width:100%;}
.w-40px{width:40px;}
.w-50px{width:50px;}
.flex{display:flex;}
.flex-1{flex:1 1 0%;}
.flex-shrink-0{flex-shrink:0;}
.flex-wrap{flex-wrap:wrap;}
.translate-y-100\%{--un-translate-y:100%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.justify-end{justify-content:flex-end;}
.gap-10px{gap:10px;}
.gap-5px{gap:5px;}
.of-hidden{overflow:hidden;}
.border{border-width:1px;}
.b-rd-3px{border-radius:3px;}
.b-rd-5px{border-radius:5px;}
.bg-\#8de1e1{--un-bg-opacity:1;background-color:rgb(141 225 225 / var(--un-bg-opacity)) /* #8de1e1 */;}
.bg-\#939b90{--un-bg-opacity:1;background-color:rgb(147 155 144 / var(--un-bg-opacity)) /* #939b90 */;}
.bg-\#9b9b93{--un-bg-opacity:1;background-color:rgb(155 155 147 / var(--un-bg-opacity)) /* #9b9b93 */;}
.bg-\#d8d8d8{--un-bg-opacity:1;background-color:rgb(216 216 216 / var(--un-bg-opacity)) /* #d8d8d8 */;}
.bg-\#e9dddb{--un-bg-opacity:1;background-color:rgb(233 221 219 / var(--un-bg-opacity)) /* #e9dddb */;}
.bg-\#fff{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;}
.bg-op-50\%{--un-bg-opacity:0.5;}
.p-10px{padding:10px;}
.p-15px{padding:15px;}
.p-x-15px{padding-left:15px;padding-right:15px;}
.p-x-5px{padding-left:5px;padding-right:5px;}
.p-y-10px{padding-top:10px;padding-bottom:10px;}
.px{padding-left:1rem;padding-right:1rem;}
.text-20px{font-size:20px;}
.text-25px{font-size:25px;}
.text-\#827072{--un-text-opacity:1;color:rgb(130 112 114 / var(--un-text-opacity)) /* #827072 */;}
.text-\#a08b95{--un-text-opacity:1;color:rgb(160 139 149 / var(--un-text-opacity)) /* #a08b95 */;}
.text-\#dbd25b{--un-text-opacity:1;color:rgb(219 210 91 / var(--un-text-opacity)) /* #dbd25b */;}
.text-\#fbad51{--un-text-opacity:1;color:rgb(251 173 81 / var(--un-text-opacity)) /* #fbad51 */;}
.text-\#fff{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.lh-30px{line-height:30px;}
.lh-40px{line-height:40px;}
.shadow{--un-shadow:var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}